/* form styles */
input, select {
	font: inherit;
	margin: 0;
	padding: 4px; }
.input-text {
	min-width: 150px;
	background-color: #fff;
	border: 1px solid #ccc; }
select {
	min-width: 150px; }
label {
	margin: 0 4px 0 8px; }
.table-filters {
	margin: 15px; }

/* Filtable styles */
tr.hidden {
	display: none; }
tr:nth-child(odd) > td {}
tr:nth-child(even) > td {}
tr.odd > td {}
tr.even > td {}